<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newhunger="{{hunger}}">
		{{#if hunger}}{{else}}devour it!{{/if}}
	</button>

	<button class="delete-bur" data-id="{{this.id}}">DELETE!</button>
</li>
